.formControl {

}
.formControl.error input,
.formControl.error textarea
 {
    border: 1px solid red;
 }

.formControl.error span{
    color: red;
    display: block;
}
.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}