.header {
    grid-area: h;
    background-color: #3b4f68;
}
.header img{
    width: 100px;
}
.loginBlock{
    float: right;

}

.loginBlock {
    color: white;
    text-decoration: none;
    transition-duration: 0.7s;
}
.loginBlock a {
    color: #fff;
    text-decoration: none;
    transition-duration: 2s;
}
.loginBlock a:hover{
    transition-duration: 2s;
    color: gold;
}
/*.loginBlock:hover{*/
    /*color: gold;*/
    /*transition-duration: 0.7s;*/
/*}*/