.content img {
    width: 100%;
    height: 60vh;
}
.ava {
    display: inline-block;
    padding: 10px;
    width: 30%;
}
.ava img {
    width: 100%;
    height: auto;
}
.descriptionBlock{
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    width: 65%;
}
.descriptionBlock h2{
    margin-top: 0;
    font-size: 2.5rem;
    vertical-align: top;
}
.descriptionBlock p{
    margin-top: 0;
    vertical-align: top;
    font-size: 1.5rem;
    display: inline-block;
}
.lookingForAJob img {
    height: 50px;
    width: 50px;
}
.about {
    overflow-x: hidden;
}